
dd.bibtexList
{
  margin-left: 1em;
}

div.bibtexEntry p
{
  margin: 0.5em;
  text-align: justify;
}

div.bibtexEntry a.bibtexLink:before {
  content: "[";
}
div.bibtexEntry a.bibtexLink:after {
  content: "]";
}

div.bibtexEntry .bibtexAuthors,
div.bibtexEntry .bibtexEditors
{
}

div.bibtexEntry .bibtexTitle
{
  font-weight: bold;
}

div.bibtexEntry .bibtexJournal,
div.bibtexEntry .bibtexBooktitle
{
  font-style: italic;
}

div.bibtexEntry .bibtexCode
{
  margin-left:  0.5em;
  margin-right: 0.5em;
  margin-bottom: -1em;
}

div.bibtexEntry .bibtexAbstract {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
div.bibtexEntry .bibtexAbstract h1
{
  font-size: small;
  padding-left: 0.5em;
}

div.bibtexEntry .bibtexAbstract p
{
  text-align: justify;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
