
dd.bibtexList
{
  margin-left: 1em;
}

div.bibtexPageSource
{
  margin-top: -1em;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: smaller;
}

div.bibtexEntry {
  text-align: justify;
  padding: 2px;
}

div.bibtexEntry.even {
}

div.bibtexEntry.odd {
  background: __background_alt__;
}

div.bibtexEntry p
{
  margin: 0.5em;
  margin-bottom: 1em:
}

div.bibtexEntry span.bibtexLink a:before,
div.bibtexPageSource a:before
{
  content: "[";
}
div.bibtexEntry span.bibtexLink a:after,
div.bibtexPageSource a:after
{
  content: "]";
}

div.bibtexEntry .bibtexAuthors,
div.bibtexEntry .bibtexEditors
{
}

div .bibtexEntry .bibtexKnown
{
}

div.bibtexEntry .bibtexTitle
{
  font-weight: bold;
}

div.bibtexEntry .bibtexJournal,
div.bibtexEntry .bibtexBooktitle
{
  font-style: italic;
}

div.bibtexEntry .bibtexCode
{
  margin-left:  0.5em;
  margin-right: 0.5em;
  margin-bottom: -1em;
}

div.bibtexEntry .bibtexAbstract {
  word-wrap: normal;
  border: 1px solid __border__;
  border-radius: 2px;
  box-shadow: inset 0 0 .5em __border__;
  padding: .7em 1em;
  background: __background__;
  margin-left  : 1em;
  margin-right : 1em;
  margin-bottom: 0.5em;
}
div.bibtexEntry .bibtexAbstract h1
{
  font-size: small;
  padding-left: 0.5em;
}

div.bibtexEntry .bibtexAbstract p
{
  text-align: justify;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
